{% extends "base_generic.html" %}

{% block content %}


<style>
 .col-sm-10  {
    top: 5em;
    left: 1000px;
  }

  body {
    overflow: hidden;
  }

@media screen and (max-width: 1578px) {
   .col-sm-10  {
    left: 30px;
  }
}  

@media screen and (max-width: 1002px) {
   .col-sm-10  {
   top: 200px;
   }
}  

</style>

<p> Please enter the email address you used on sign-up: </p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" value="Reset password">
  </form>
{% endblock %}