{% extends "base_generic.html" %}

{% block content %}

<style>

#home {
  	text-shadow: none;
}

#contact {    
	text-shadow:
    0 0 4px rgba(202,228,225,0.98),
    0 0 2px rgba(202,228,225,0.42),
    0 0 2px rgba(30,132,242,0.58),
    0 0 2px rgba(30,132,242,0.84),
    0 0 2px rgba(30,132,242,0.88),
    0 0 2px rgba(30,132,242,1);
}
</style>

<h1><em>Success!</em></h1>

<p> Thank you for contacting The Headroom Project. Your message has been sent.</p>

<p> The Headroom Project, Johannesburg</p>
<p> headroommusicproject@gmail.com </p>
{% endblock %}