{% extends "base_generic.html" %}
  

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
<style>

#safariBox{
visibility: hidden;
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.7);
z-index: 6;
text-align: center;
}

#safariText {
  position: relative;
  top: 40%;
}

#safariSecondText {
  position: relative;
  top: 60%;
  font-size: 18pt;
}

	.col-sm-10  {
    position: relative;
    top: 7em;
    left: 20em;
    }


  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: -50px;
  min-width: 100%;
  min-height: 110%;
  }

.index-text {
  position: absolute;
  left: 800px;
  z-index: 3;
  }


#tourButton {
  background: transparent;
  color: white;
  border-radius: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
  font-size: 18pt;
  z-index: 3;
  position: absolute;
  top: 310px;
  left: 600px;
  opacity: 0;
  transition: 3s opacity;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
} 


#textButton {
  background: transparent;
  color: white;
  border-radius: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
  font-size: 18pt;
  z-index: 3;
  position: absolute;
  top: 260px;
  left: 600px;
  opacity: 0;
  transition: 3s opacity;
} 

#subscribeButton {
  /*background: transparent;*/
  color: white;
  /*border-radius: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;*/
  font-size: 18pt;
  font-style: italic;
  z-index: 3;
  position: absolute;
  top: 265px;
  left: 710px;
  opacity: 0;
  transition: 3s opacity;
}  

#textBox {
  visibility: hidden;
  position: absolute;
  left: -300px;
  top: -40px;
  width: 90vw;
  height: 80vh;
  background-image: linear-gradient(105deg, rgba(105, 105, 105, 0.9) 39%, rgba(25, 25, 25, 0.9) 96%), url("/static/css/images/backgroundtexture.jpg");
  color: lightgray;
  font-size: 18pt;
  padding: 25px;
  border-color: darkgray;
  border-width: 4px;
  border-radius: 0.5%;
  overflow-y:  scroll;
  z-index: 5;
}

#closeButton {
  color: white;
  font-size: 18pt;
  /*position: relative;
  left: ;
  top: ;*/
  background: transparent;
  float: right;
}

#subtext {
  font-size: 20pt;
}

#subscribeAnchor {
  color: goldenrod;
}

#textHeading {
  font-style: ;
}

{% if user.is_authenticated %}
#subscribeButton {visibility: hidden;}
{% else %}
#subscribeButton {visibility: visible;}
{% endif %} 

/*-----------------MEDIA SCREEN 1760PX ---------------------*/
@media only screen
and (max-width: 1760px) {
   #textButton, #subscribeButton {
    position: absolute;
    top: 350px;
  }

  #skipButton {
    top: 450px;
    width:  150px;
  }

  #tourButton {
  top:  400px;
  }

    #bigContainer {
    position: relative;
    right: 200px;
  }
}

/*-----------------MEDIA SCREEN 1530PX ---------------------*/
@media only screen
and (max-width: 1530px) {
  #bigContainer {
    position: relative;
    right: 400px;
    text-shadow: 2px 2px 4px #000000;
    }
  #skipButton, #textButton, #tourButton  {
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px 4px #000000;
    }
}

/*-----------------MEDIA SCREEN 1450PX ---------------------*/
@media only screen
and (max-width: 1450px) {
    #skipButton, #textButton, #subscribeButton {
    position: absolute;
    top: 430px;
  }

  #tourButton {
  top:  480px;
  }

  #headTitle {
    width: 860px;
  }
}

/*-----------------MEDIA SCREEN 1362PX ---------------------*/
@media only screen
and (max-width: 1362px) {
  #bigContainer {
    position: relative;
    right: 700px;
  }
  #headTitle {
    position: relative;
    left: 400px;
  }
}

/*-----------------MEDIA SCREEN 1242PX ---------------------*/
@media only screen
and (max-width: 1242px) {
#textButton, #subscribeButton {
    position: absolute;
    top: 480px;
  }
#subscribeButton {
  width: 350px;
}
  #tourButton {
  top:  530px;
  width: 150px;
  }
}

/*-----------------MEDIA SCREEN 1048PX ---------------------*/
@media only screen
and (max-width: 1048px) {

  body {
    position: fixed;
    overflow: hidden;
  }
  #bigContainer {
    position: relative;
    right: 900px;
  }
  #headTitle {
    position: relative;
    left: 630px;
  }

  #enterText {
    top: 100px;
left: 650px;
  }

  #subscribeButton {
  left: 760px;
}
  #textButton, #tourButton {
  left: 650px;
  }

  #navbar {
    top: -30px;
  }

  #textButton {
    width: 100px;
  }
}

/*-----------------MEDIA SCREEN 928PX ---------------------*/
@media only screen
and (max-width: 928px) {
  #bigContainer {
    position: relative;
    right: 900px;
  }
  #headTitle {
    position: relative;
    left: 630px;
    width: 750px;
  }
}

/*-----------------MEDIA SCREEN 824PX ---------------------*/
@media only screen
and (max-width: 824px) {
  #bigContainer {
    position: relative;
    right: 1000px;
  }
  #headTitle {
    position: relative;
    left: 730px;
    width: 750px;
  }
  .fades {
    left: 730px;
  }
  #enterText {
    position: relative;
    left: 700px;
    top: 0px;
  }
  #textButton, #tourButton {
    left: 700px;
  }
  #subscribeButton {
    left: 810px;
  }
}

/*-----------------MEDIA SCREEN 760PX ---------------------*/
@media only screen
and (max-width: 760px) {
  #bigContainer {
    position: relative;
    right: 1000px;
  }
  #headTitle {
    position: relative;
    left: 730px;
    width: 750px;
  }
  #skipButton {
    position: fixed;
    left: 30px;
    top: 
    230px;
  }
}

/*-----------------MEDIA SCREEN 734PX ---------------------*/
@media only screen
and (max-width: 734px) {

  #headTitle {
    font-size: 20pt;
    }

  #fade-container {
    position: relative;
    left: 30px;
    top: -200px;
  }  
  .fades {
    font-size: 16pt;
    width:  400px;
    white-space: pre-wrap;
    top: 0;
    }  

  #enterText {
    position: relative;
    top: 100px;
    }
  }

/*-----------------MEDIA SCREEN 446PX ---------------------*/
@media only screen
and (max-width: 446px) {
  #headTitle {
    width: 300px;
    white-space: pre-wrap;
    }
  .fades {
    width:  300px;
    white-space: pre-wrap;
    text-align: left;
    top: -120px;
    left: 705px;
    }  
}

/*-----------------MEDIA SCREEN 375PX ---------------------*/
@media only screen
and (max-width: 375px) {
  #enterText {
    top: 20px;
    }
      .fades {
    top: -120px;
    left: 705px;
    }  

  #skipButton {
    top: 30px;
  }  
  #textButton, #subscribeButton {
    top: 430px;
  }

  #tourButton {
  top:  480px;
  }
}

@media only screen
and (max-height: 640px) {
  #tourButton {
    left: 800px;
    top: 470px;
  }
}

@media only screen
and (max-height: 740px) {
  #tourButton, #subscribeButton, #textButton {
z-index: 0;
  }
}


</style>  

<div id="safariBox">
  <div id="safariText">
    <h1> Sorry, Safari is not supported!</h1>
    <br>
    <br>
    <h2> Please return on Firefox, Chrome or Microsoft Edge to enter</h2>
  </div>
  <div id=safariSecondText>  
    <a href="https://www.mozilla.org/en-US/firefox/new/">Download Firefox</a>
  </div> 
</div>

<video autoplay muted loop id="myVideo">

  <source src="/static/css/images/dandRain.mp4" type="video/mp4">
</video>

<div id="bigContainer">
<h1 id="headTitle">Welcome to the Headroom Project</h1>
<div id="enterText">
  <p>Enter the Headroom Project</p>
  <p>Please see the top menu for access to the music.<p> 
</div>
<!--  <p> You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s{% endif %}.</p>-->

<button id="skipButton" onclick="makeItGoAway()">Skip Intro</button>
<button id="textButton" onclick="viewText()">Re-read</button>

</div>

<div>
    <p>Please see the top menu for access to the music. </p>
    <p>Thank you and enjoy!<p> 
</div>

<script>
var video = document.getElementById("myVideo");

video.playbackRate = 0.25; 

var fade1 = document.getElementById("para1");
var fade2 = document.getElementById("para2");   
var fade3 = document.getElementById("para3");
var fade3a = document.getElementById("para3a");   
var fade4 = document.getElementById("para4");   
var fade5 = document.getElementById("para5");   
var fade6 = document.getElementById("para6");   
var fade7 = document.getElementById("para7");   
var fade8 = document.getElementById("para8");   
var fade9 = document.getElementById("para9");   
var fade10 = document.getElementById("para10");   
var fade11 = document.getElementById("para11");   
var fade12 = document.getElementById("para12");
var nav = document.getElementById("navbar");
var enterBox = document.getElementById("enterText");
var initTitle = document.getElementById("headTitle");
var skip = document.getElementById("skipButton");
var text = document.getElementById("textButton");
var textDiv = document.getElementById("textBox"); 
var closeDiv = document.getElementById("closeButton");
var sub = document.getElementById("subscribeButton");
var tour = document.getElementById("tourButton");
var saffy = document.getElementById("safariBox");          



var isSafari = window.safari !== undefined;
if (isSafari) safariOut();

function safariOut() {
  saffy.style.visibility = 'visible';
}   


function viewText() {
  textDiv.style.visibility = 'visible';
  closeDiv.style.visibility = 'visible';
  text.style.visibility = 'hidden';
}

function closeText() {
  textDiv.style.visibility = 'hidden';
  closeDiv.style.visibility = 'hidden';
  text.style.visibility = 'visible';  
}

</script>
{% endblock %}




