body {
  /*font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;*/
  background-image: url("images/burgbachlight.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
      }
