body {
  /*font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;*/
  background-image: url("images/dandelion-filpped.jpg");  
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
      }
